// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "_variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Common
@import "common";

.navbar {
    background-color: $brand-color-primary;
    height: 109.09px;
    z-index: 10;

    .navbar-brand {
        h1 {
            color: $brand-color-secondary;
        }
        animation-name: logo;
        animation-duration: 3s;

        @keyframes logo {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
    .nav-item {
        a {
            background-color: $brand-color-secondary;
        }
    }
    .collapse {

        justify-content: space-between;
        align-items: flex-end;

        .searchBar{
                margin: 0 auto;
                width: 50%;
                input {
                    width: 100%;
                    border-radius: 25px;
                    border: none;
                    margin: auto;
                    padding: 10px;
                }
            }

        .navbar-nav {
            width: 200px;
            justify-content: flex-end;

            .dropdown-menu{
            border: none;
            background-color: transparent !important;
            padding: 0 !important;
        }
            .dropdown-item {
                background-color: white !important;
                color: $brand-color-secondary !important;
                border-radius: 25px;
                margin: 0.5rem 0;
                box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%);

                &:hover{
                    background-color: #ca8fca !important;
                }
            }
        }
    }
}

footer {
    height: 550px;
    width: 100%;
    background-color: #2e3333;
    .container {

        .row {
            
            .col-3 {
                margin-top: 30px;
                width: 300px;
                height: 450px;
                background-color: #434848;
                color: white;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .navbar{
        .navbar-collapse.show{
            background-color: $brand-color-primary;
            width: 100Vh;
            height: calc(100vh - 92px);
            display: flex;
            flex-direction: column;
            padding: 0 1rem;
            margin: 0 -1rem;

            .searchBar{
                width: 100%
            }
            .navbar-nav{
                width: 100%;
                .nav-item{
                    width: 100%;
                    margin: .5rem 0;

                    .dropdown-menu{
                        margin-bottom: .5rem;
                        background-color: transparent;
                        border: none;

                        .dropdown-item {
                            background-color: transparent !important;
                            color: $brand-color-secondary !important;
                            border-radius: 25px;
                            text-align: center;
                            box-shadow: none;
            
                            &:hover{
                                background-color: #ca8fca !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    footer {
        height: 100%;
        .container {
            margin: auto;
            width: 80%;
            .col-3 {
                align-items: center;
                text-align: center;
            }
        }
    }
}
