// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import '_variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Common
@import 'common';



.navbar{
    background-color: $brand-color-primary;

    .navbar-brand{
        h1{
            color: $brand-color-secondary;
        }
    }
    .nav-item {
        a {
            background-color: $brand-color-secondary;
        }
    }
    .collapse {
        input {
            width: 50%;
            border-radius: 25px;
            border: none;
            margin: auto;
            padding: 10px;
        }
        .navbar-nav {
            width: 200px;

            .dropdown-item{
                background-color: white !important;
                color: $brand-color-secondary !important;
                
                
            }
        }
    }
}


