// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "_variables";

.bg_secondary {
    background-color: $brand-color-secondary !important;
}

.bg_secondary_smooth {
    background-color: $brand-color-secondary-smooth !important;
}

.text_primary {
    color: $brand-color-primary !important;
}

.text_secondary {
    color: $brand-color-secondary !important;
}

.short_btn {
    width: fit-content;
}

.wave {
    margin-top: -1px;
}
