// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "_variables";

.tags-container {
    background-color: $brand-color-primary;
    width: 100%;
    svg {
        margin-top: 93px;
    }
    .card {
        min-width: max-content;

        &.active {
            background-color: $brand-color-secondary;

            span {
                color: white;
                font-weight: bold;
            }
        }
    }
    .tags_link {
        width: 100% !important;
        span {
            color: $brand-color-secondary;
        }
    }

    .card.rounded-pill {
        animation-name: popup;
        animation-duration: 1s;
    }

    @keyframes popup {
        0% {
            display: block;
            transform: scale(0);
        }
        50% {
            display: block;
            transform: scale(1.09);
        }
        100% {
            display: block;
            transform: scale(1);
        }
    }
}
svg {
    margin-top: -5px;
}

.spinner {
    animation: rotator $duration linear infinite;
}

.path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $duration ease-in-out infinite, colors ($duration * 5) ease-in-out infinite;
}

$offset: 100;
$duration: 1s;

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

@keyframes colors {
    0% {
        stroke: $brand-color-secondary;
    }
    25% {
        stroke: $brand-color-secondary;
    }
    50% {
        stroke: $brand-color-secondary;
    }
    75% {
        stroke: $brand-color-secondary;
    }
    100% {
        stroke: $brand-color-secondary;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: $offset;
    }
    50% {
        stroke-dashoffset: $offset;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: $offset;
        transform: rotate(450deg);
    }
}
