// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "_variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";




.tags-container {
    background-color: $brand-color-primary;
    width: 100%;
    svg {
        margin-top: 93px;
    }
    .card {
        min-width: max-content;
    }
}