// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "_variables";

.login_page {
    margin-top: -1px;
    .col-8 {
        input {
            border-radius: 1rem;
        }
    }
}

body .password-field {
    position: relative;
}

body .password-field #toggler {
    position: absolute;
    right: 35px;
    top: 75%;
    transform: translateY(-50%);
    cursor: pointer;
}
