// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "_variables";

input {
    border-radius: 1rem !important;
}

svg {
    margin-top: -1px;
}

body .password-field {
    position: relative;
}

body .password-field #toggler {
    position: absolute;
    right: 35px;
    top: 75%;
    transform: translateY(-50%);
    cursor: pointer;
}
