@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "_variables";

.info_cart {
    max-width: 1600px !important;
    position: relative;
    bottom: 60px;
    .restaurant_aside {
        .info_wrap {
            border-radius: 30px;
            height: 90%;
        }
        .add_to_cart {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            border: none;
            background-color: rgb(202, 143, 202);
        }
    }
}
