@import url(https://fonts.googleapis.com/css?family=Nunito);.bg_secondary {
  background-color: #4f009e;
}

.text_primary {
  color: #ffc144;
}

.text_secondary {
  color: #4f009e;
}

.wave {
  margin-top: -1px;
}