@import url(https://fonts.googleapis.com/css?family=Nunito);/* .tags-container {
    background-color: $brand-color-primary;
    width: 100%;
    svg {
        margin-top: 93px;
    }
    .card {
        min-width: max-content;

        &.active {
            background-color: $brand-color-secondary;

            span {
                color: white;
                font-weight: bold;
            }
        }

    }

    .tags_link {
        max-width: 200px !important;
        span {
            color: $brand-color-secondary;
        }
    }

    .card.rounded-pill {
        animation-name: popup;
        animation-duration: 1s;
    }

    @keyframes popup {
        0% {
            display: block;
            transform: scale(0);
        }
        50% {
            display: block;
            transform: scale(1.09);
        }
        100% {
            display: block;
            transform: scale(1);
        }
    }
} */
body {
  overflow-x: hidden;
}

.nav-scroller {
  background-color: #ffc144;
  position: relative;
  z-index: 2;
  height: 3.75rem;
  overflow-y: hidden;
}
.nav-scroller .tags-scroller {
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem 0;
  margin-top: -1px;
  padding-left: 3rem;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
}
.nav-scroller .tags-scroller .tags_link {
  min-width: 140px !important;
  margin: 0 0.3rem;
}
.nav-scroller .tags-scroller .tags_link .card {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.nav-scroller .tags-scroller .tags_link .card.active {
  background-color: #4f009e;
}
.nav-scroller .tags-scroller .tags_link .card.active span {
  color: white;
  font-weight: bold;
}
.nav-scroller .tags-scroller .tags_link span {
  color: #4f009e;
}
.nav-scroller .tags-scroller .card.rounded-pill {
  -webkit-animation-name: popup;
          animation-name: popup;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@-webkit-keyframes popup {
  0% {
    display: block;
    transform: scale(0);
  }
  50% {
    display: block;
    transform: scale(1.09);
  }
  100% {
    display: block;
    transform: scale(1);
  }
}
@keyframes popup {
  0% {
    display: block;
    transform: scale(0);
  }
  50% {
    display: block;
    transform: scale(1.09);
  }
  100% {
    display: block;
    transform: scale(1);
  }
}

.row {
  --bs-gutter-y: 3rem !important;
}

svg {
  margin-top: -2px;
}

h2 {
  text-align: center;
  margin-bottom: 0.5rem;
}

@media (max-width: 767.98px) {
  .nav-scroller .tags-scroller {
    padding-left: 0.5rem;
  }

  .col {
    display: flex;
    justify-content: center;
  }
  .col .rest_card {
    margin: 0 auto;
    border-radius: 0.5rem !important;
    height: 180px !important;
    max-width: 368px;
  }
  .col .rest_card:hover img {
    transform: scale(1.2);
  }
  .col .rest_card .img_wrapper {
    height: 140px;
    max-width: 368px;
    overflow: hidden;
    text-align: center;
    background-color: black;
    border-radius: 0.5rem 0.5rem 0 0;
    position: relative;
  }
  .col .rest_card .img_wrapper img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
    opacity: 0.6;
    transition: transform 0.15s ease-in-out;
  }
  .col .rest_card .img_wrapper .card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 900;
    line-height: 26px;
    text-shadow: 1px 1px 3px black;
  }
  .col .rest_card .card_body {
    overflow: hidden;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .nav-scroller .tags-scroller {
    padding-left: 1rem;
  }

  .col {
    display: flex;
    justify-content: center;
  }
  .col .rest_card {
    margin: 0 auto;
    border-radius: 0.5rem !important;
    height: 200px !important;
    max-width: 368px;
  }
  .col .rest_card:hover img {
    transform: scale(1.2);
  }
  .col .rest_card .img_wrapper {
    height: 160px;
    max-width: 368px;
    overflow: hidden;
    text-align: center;
    background-color: black;
    border-radius: 0.5rem 0.5rem 0 0;
    position: relative;
  }
  .col .rest_card .img_wrapper img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
    opacity: 0.6;
    transition: transform 0.15s ease-in-out;
  }
  .col .rest_card .img_wrapper .card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 900;
    line-height: 26px;
    text-shadow: 1px 1px 3px black;
  }
  .col .rest_card .card_body {
    overflow: hidden;
    margin: auto;
  }
}
@media (min-width: 1400px) {
  .nav-scroller .tags-scroller {
    justify-content: center;
    padding-left: 0;
  }
}
.spinner {
  -webkit-animation: rotator 1s linear infinite;
          animation: rotator 1s linear infinite;
}

.path {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  transform-origin: center;
  -webkit-animation: dash 1s ease-in-out infinite, colors 5s ease-in-out infinite;
          animation: dash 1s ease-in-out infinite, colors 5s ease-in-out infinite;
}

@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@-webkit-keyframes colors {
  0% {
    stroke: #4f009e;
  }
  25% {
    stroke: #4f009e;
  }
  50% {
    stroke: #4f009e;
  }
  75% {
    stroke: #4f009e;
  }
  100% {
    stroke: #4f009e;
  }
}
@keyframes colors {
  0% {
    stroke: #4f009e;
  }
  25% {
    stroke: #4f009e;
  }
  50% {
    stroke: #4f009e;
  }
  75% {
    stroke: #4f009e;
  }
  100% {
    stroke: #4f009e;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 100;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 100;
    transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 100;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 100;
    transform: rotate(450deg);
  }
}
.message .rest-btn {
  background-color: white;
  color: #4f009e;
  border: 1px solid #4f009e;
}
.message .rest-btn:hover {
  background-color: #ca8fca;
}