@import url(https://fonts.googleapis.com/css?family=Nunito);.tags-container {
  background-color: #ffc144;
  width: 100%;
}
.tags-container svg {
  margin-top: 93px;
}
.tags-container .card {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.tags-container .card.active {
  background-color: #4f009e;
}
.tags-container .card.active span {
  color: white;
  font-weight: bold;
}
.tags-container .tags_link {
  width: 100% !important;
}
.tags-container .tags_link span {
  color: #4f009e;
}
.tags-container .card.rounded-pill {
  -webkit-animation-name: popup;
          animation-name: popup;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@-webkit-keyframes popup {
  0% {
    display: block;
    transform: scale(0);
  }
  50% {
    display: block;
    transform: scale(1.09);
  }
  100% {
    display: block;
    transform: scale(1);
  }
}
@keyframes popup {
  0% {
    display: block;
    transform: scale(0);
  }
  50% {
    display: block;
    transform: scale(1.09);
  }
  100% {
    display: block;
    transform: scale(1);
  }
}

svg {
  margin-top: -5px;
}